<a href="https://colab.research.google.com/github/alfatih987/alhaznclass/blob/main/latihan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#string
a = 'independent'
b = a[0 : 7 : 2]
c = a[-1 : -10 : -3]
d = a[2 :]
print(a,b,c,d)

independent idpn tdp dependent

In [12]:
a = (1,2,3,4,5,6,7)
a[1 : 6 : 2]

(2, 4, 6)

In [21]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
a[1 : 15: 12]
a[0 : 20 : 19]

[1, 20]