<a href="https://colab.research.google.com/github/alfatih987/alhaznclass/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
a = ['kucing','buaya','serigala','rubah','gajah']
print(a[2])
print(a[0])
print(a[-2])
print(a[:4])
print(a[2:])

serigala
kucing
rubah
['kucing', 'buaya', 'serigala', 'rubah']
['serigala', 'rubah', 'gajah']

In [11]:
a = ['januari','februari','maret','april','mei','juni','juli',]
b = ['agustus','september','oktober','november','desember',]
c = a + b
print(a , b , c)

['januari', 'februari', 'maret', 'april', 'mei', 'juni', 'juli'] ['agustus', 'september', 'oktober', 'november', 'desember'] ['januari', 'februari', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november', 'desember']

In [24]:
a = ['kucing','buaya','serigala','rubah','gajah']
b = ['agustus','september','oktober','november','desember',]
a.append ('hamster')
print(a)
b.clear()
print(b)
c = b.copy()
print(c)
d = [1,1,1,2,2,3,3,3,3]
e = d.count(1)
print(e)
f = d.count(2)
print(f)
g = d.count(3)
print(g)

['kucing', 'buaya', 'serigala', 'rubah', 'gajah', 'hamster']
[]
[]
3
2
4