<a href="https://colab.research.google.com/github/alfatih987/alhaznclass/blob/main/quiz_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = ['cat','fox','owl']
b = len(a)
print(a, b)

['cat', 'fox', 'owl'] 3

In [8]:
a = ['apple','grapes','banana']
b = a.copy()
b.append('water melon')
print(a, b)
c = ['apple','grapes','banana']
c.append('strawberry')
print(c)

['apple', 'grapes', 'banana'] ['apple', 'grapes', 'banana', 'water melon']
['apple', 'grapes', 'banana', 'strawberry']

In [13]:
a = ['cat','cat','fox','fox','fox']
b = a.count('fox')
c = a.count('cat')
print(a, b, c)

['cat', 'cat', 'fox', 'fox', 'fox'] 3 2